* {
    font-family: "Helvetica Neue Medium Extended", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-950);
    padding: 10px;
}
.controls{
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  outline: 1px solid var(--color-600);
  padding: 1rem;
}
.welcome-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.title-text{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-50);
  margin-right: 1rem;
}
.links{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.links >p{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--color-600);
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  transition: 0.2s ease-in-out;
}
.links >p:hover{
  color: var(--color-50);
  cursor: pointer;
}
.welcome-text p{
  text-shadow: var(--title-text-shadow);
}
.items {
    color: white;
    display: flex;
    align-items: center;
}

.items > * {
    margin-inline: 15px;
}
@media only screen and (max-width:768px) {
    .welcome-text > p{
      display: none;
    }
}
img:hover{
  cursor: pointer;
}
