.container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-txt-p{
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: var(--main-font);
  line-height: 56px;
}
.welcome-txt-p b{
  color: cyan;
}
.welcome-text{
  margin-inline: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subtitle{
  filter: grayscale(100%) opacity(0.5);
}
.search-box{
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 1rem;
  background-color: var(--darkest);
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-btn{
  transition: 0.2s ease-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.search-box input[type="text"]{
  border-radius: 15%;
  background: transparent;
  flex: 1;
  border: none;
  padding: 0.25rem;
  color: var(--white);
  transition: 0.2s ease-in-out;
}
.search-box input[type="text"]:focus{
  outline: none;
  border-bottom: 1px solid var(--white);
  border-radius: 1px;
}
.search-box input[type="text"]:focus + .search-btn{
  transform: scale(1.1);
}

