.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  background-color: var(--color-800);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
form{
  display: flex;
}
.search-input{
  background-color: transparent;
  border: none;
  color: var(--color-50);
}
.search-btn{
  background-color: transparent;
  border: none;
}
.search-input:focus{
  outline: none;
}
.glow{
  box-shadow: 0 0 2px 2px var(--accent);
}
.search-btn:hover{
    cursor: pointer;
}
