<div class="container">
  <div class="filters">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Ex. Fight Club" [(ngModel)]="query">
    </mat-form-field>
    <mat-radio-group class="radio-group" [(ngModel)]="selectedType">
      <mat-radio-button class="radio-button" value="all"><b class="radio-button">All</b></mat-radio-button>
      <mat-radio-button class="radio-button" value="movie"><b class="radio-button">Movies</b></mat-radio-button>
      <mat-radio-button class="radio-button" value="series"><b class="radio-button">Series</b></mat-radio-button>
      <mat-radio-button class="radio-button" value="people"><b class="radio-button">People</b></mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="accent" (click)="searchMulti(query)">Search</button>
  </div>
  <div class="right">
    <div class="centered-results" *ngIf="!shouldRenderData">
      <mat-spinner/>
    </div>
    <div class="results-info" *ngIf="results.length>0">
      <div class="single-info"> <mat-icon>movie</mat-icon> {{movies.length}}</div>
      <div class="single-info"> <mat-icon>tv</mat-icon> {{tvSeries.length}}</div>
      <div class="single-info"> <mat-icon>group</mat-icon> {{persons.length}}</div>
    </div>
    <div class="results" *ngIf="shouldRenderData">
      <div class="card-view" *ngFor="let item of results" (click)="goto(item)">
        <img src="{{getPosterURL(item.poster_path || item.profile_path)}}" class="card-image">
        <p class="card-title">{{item.title || item.name}}</p>
      </div>
    </div>
  </div>
</div>
