/* You can add global styles to this file, and also import other style files */
:root{
  --darkest: #1B2223;
  --dark: #3A4F50;
  --light: #0EF6CC;
  --white: #F4FEFD;
  --main-font: 'Roboto', sans-serif;
}
