:root{
  --accent: #0EF6CC;
  --color-950: #283836;
  --color-900: #324142;
  --color-850: #3D4D4E;
  --color-800: #475E5F;
  --color-750: #516F70;
  --color-700: #5B7F80;
  --color-650: #669091;
  --color-600: #709F9F;
  --color-550: #7AAFAF;
  --color-500: #84BFC0;
  --color-450: #8ED0D0;
  --color-400: #98E0E1;
  --color-350: #A2F0F1;
  --color-300: #ACF5F5;
  --color-250: #B7FAFA;
  --color-200: #C1FFFF;
  --color-150: #CBFFFF;
  --color-100: #D5FFFF;
  --color-50: #DFFFFF;
  --red-light: #FF5C5C;

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --other-font: 'Poppins', sans-serif;
  --title-text-shadow: 0 0 50px hsla(0, 0%, 0%, 0.4);
}
*{
  margin: 0;
  font-family: var(--other-font);
  letter-spacing: 0.05em;
}
body{
  background-color: var(--color-800);
}
.button-big{
  padding: 1rem 1.5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--color-50);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s ease-in-out;
}
.button-big svg{
  transition: 0.3s ease-in-out;
}
.button-big:hover svg{
  fill: var(--color-950);
}
.button-big:hover{
  background-color: var(--accent);
  color: var(--color-950);
  cursor: pointer;
}
.red{
  border: 1px solid var(--red-light);
}
.red:hover {
  background-color: var(--red-light);
  color: var(--color-950);
  cursor: pointer;
}
.red svg{
  fill: var(--red-light);
}
.button-primary{
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
.primary-red{
  background-color: var(--red-light);
  color: var(--color-50);
}
.primary-red:hover{
  background-color: var(--red-light);
  color: var(--color-950);
  cursor: pointer;
}
.button-secondary{

}
