.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--darkest);
  border-radius: 15px;
  padding: 0.5rem;
  margin-top:0.5rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.slider-title{
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 0.125rch;
}
.carousel{
  height: 300px;
  width: 100%;
  position: relative;
}
.box{
  height: 300px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
}
.box img{
  min-width: 147px;
  max-width: 147px;
  height: 250px;
  background-size: cover;
  background-color: var(--dark);
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
  border-radius: 5px;
}
.box img:hover{
  transform: scale(1.1);
  z-index: 5;
}

.title-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkest);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title-text{
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.125rch;
}
.rotate-left{
  transform: rotate(180deg);
}
.controls{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.left-btn, .right-btn{
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 10px;
}
.left-btn:hover, .right-btn:hover{
  background-color: var(--dark);
}
.controls > a{
  display: flex;
  align-items: center;
}
