.container{
  border: 1px solid red;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--darkest);
  border-radius: 15px;
  padding: 1rem;
}
.slider-title{
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 0.125rch;
}
.carousel{
  height: 350px;
  width: 100%;
  position: relative;
}
.carousel .switchLeft, .carousel .switchRight{
  color: white;
  font-weight: bolder;
  height: 100%;
  width: 50px;
  line-height: 350px;
  font-size: 25px;
  text-align: center;
  background-color: var(--darkest);
  top: 0;
  z-index: 3;
  border-radius: 15px;
}
.carousel .switchLeft:hover, .carousel .switchRight:hover{
  background-color: var(--dark);
  cursor: pointer;
}

.carousel .switchLeft{
  position: absolute;
  /*left: -50px;*/
  left: 0;
}
.carousel .switchRight{
  position: absolute;
  /*right: -50px;*/
  right: 0;
}
.box{
  height: 350px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  /*display: inline-block;*/
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
}
.box img{
  min-width: 147px;
  max-width: 147px;
  height: 250px;
  background-size: cover;
  background-color: var(--dark);
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}
.box img:hover{
  transform: scale(1.1);
  z-index: 5;
}
.movie:nth-child(1){
  margin-left: 50px;
}
.movie:nth-last-child(1){
  margin-right: 50px;
}
.movie{


}
